@page "/"
@layout LoginLayout
@using HighWay.Client.Models
@inject NavigationManager navman
@inject SessionState state

<div class="row">
    <div class="col-2">
    </div>
    <div class="col-4">
        <EditForm Model="@login" OnValidSubmit="Submit">
            <div class="form-outline mb-4">
                <input type="email" id="form2Example1" @bind-value="login.Username" class="form-control" />
                <label class="form-label" for="form2Example1">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="form2Example2" @bind-value="login.Password" class="form-control" />
                <label class="form-label" for="form2Example2">Password</label>
            </div>
            <div class="form-outline mb-4">
                <input type="submit" class="carousel-fade" value="Login" />
            </div>
            <div>
                @message
            </div>

            <!-- 2 column grid layout for inline styling -->
            @*    <div class="row mb-4">
            <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
            <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
            </div>

            <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
            </div>
            </div>

            <!-- Submit button -->
            <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>*@


        </EditForm>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href="#!">Register</a></p>
            <p>or sign up with:</p>
            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-google"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-github"></i>
            </button>
        </div>
    </div>
    <div class="col-6">
    </div>

</div>



@code {
    LoginModel login = new LoginModel();
    private string email = "rifat@gmail.com";
    private string password = "rifat";
    string message;

    private void Submit()
    {
        if (login.Username == email && login.Password == password)
        {
            state.Username = login.Username;
            navman.NavigateTo("/Index");
        }
        else
        {
            message = "Your Email and Password Is wrong";
        }
    }

}
